{% extends "badge/layout.html"%} 

{% block content %}
    <div class="row">
      {% for announcement in announcements %}
        <div class="cont-holder card" id="card{{forloop.counter}}" onclick="openModal({{forloop.counter}})"> 
          <input type="text" hidden value="{{announcement.text}}">
          <div class="wrapper">
            <img src="{{ announcement.img_url }}" alt="">
            <div class="date">{{ announcement.date }} </div>
            <div class="data">
                <div class="content">
                  <span class="title">{{ announcement.title }}</span>
                  <p class="text">{{ announcement.summary }}</p>
                </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div id="modal-container" onclick="closeModal()">
      <div class="modal-background">
        <div class="modal">
          <h2>I'm a Modal</h2>
          <p>Hear me roar.</p>
        </div>
      </div>
    </div>
{% endblock %}
