{% extends "badge/layout.html"%} 

{% block content %}
    <h2>BADGE SYSTEM</h2>
    <p>
        Call us at 09995529611 or visit our social media. You can also donate to this project at the same number via Gcash.
    </p>
    <div class="social">
        <button>Check Latest Announcements</button>
        <!-- <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-codepen"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
        </ul> -->
    </div>
{% endblock %}
