{% extends "badge/layout.html"%} 
{% load static %}


{% block body %}
  <link rel="stylesheet" href="{% static 'badge/home/styles.css' %}" />

  <div class="content-wrapper">
    <div class="overlay"></div>
    <div class="content">

        <header class="navigation">
            <a href="#" class="logo">
                <img src="{% static 'images/favicon-32x32.png' %}" alt="">
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="{% url 'badge:claim' %}">Claim</a></li>
                    <li><a href="{% url 'badge:verify' %}">Verify</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <section class="main home-content container">

            <h2>BADGE SYSTEM</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit natus quaerat minus, quae quas corporis omnis dignissimos soluta maxime exercitationem, corrupti beatae tempore impedit earum repellendus facere aspernatur explicabo. Tempora.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit natus quaerat minus, quae quas corporis omnis dignissimos soluta maxime exercitationem, corrupti beatae tempore impedit earum repellendus facere aspernatur explicabo. Tempora.
            </p>
            <div class="social">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
            </div>
        </section>
        <footer class="footer">©Copyright All rights reserved - UPCSG 2021</footer>
    </div>
  </div>
{% endblock %}
