{% extends "badge/layout.html"%} 

{% block content %}
    <h2>CONTACT US</h2>
    <p>
        Call us at 09995529611 or visit our social media. You can also donate to the project at the same number via Gcash.
    </p>
    <div class="social">
        <ul>
            <li><a href="https://www.facebook.com/UPCSG"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-codepen"></i></a></li>
            <li><a href="https://mail.google.com/mail/u/0/?fs=1&to=upcsg.upcebu@gmail.com.&tf=cm" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
        </ul>
    </div>
{% endblock %}
