{% extends "badge/view_layout.html"%} 

{% block content %}
    {% if badge.guilder.name %}
        <img id="badge" src="{{ badge.badge.badge.url }}" alt="">
        <h3>{{ badge.guilder.name }}</h3>
        <h3 id="label">{{ badge.badge.badge.label }}</h3>
        <h4>{{ badge.serial }}</h4>
        <div class="button-containers">
            <input type="button" value="Download" id="download" class="submit-button" type="submit">
            <div class="share">
                <ul>
                    <li><a href="#" onclick="shareFB(window.location.href);"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" onclick="shareTwitter(window.location.href);"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <canvas id="result"></canvas>
    {% else %}
        <h2>{{ badge }}</h2>
    {% endif %}
{% endblock %}
