{% extends "badge/view_layout.html"%} 

{% block content %}
    {% if badge.guilder.name %}
        <img id="badge" src="{{ badge.badge.badge.url }}" alt="">
        <h3>{{ badge.guilder.name }}</h3>
        <h3 id="label">{{ badge.badge.badge.label }}</h3>
        <h4>{{ badge.serial }}</h4>
        <div class="button-containers">
            <input type="button" value="Download" id="download" class="submit-button" type="submit">
            <input type="button" value="Share" id="share" class="submit-button" type="submit">
        </div>
        <canvas id="result"></canvas>
    {% else %}
        <h2>{{ badge }}</h2>
    {% endif %}
{% endblock %}
