{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="{% static 'images/bg1.jpg' %}" />
    <meta property="og:description" content="This a badge for {{ badge.badge.badge.label }} claimed by {{ badge.guilder.name }}." />
    <meta property="og:title" content="UPCSG {{ badge.badge.badge.label }} Badge for {{ badge.guilder.name }}" />
    <meta property="og:image:width" content="1000"/>
    <meta property="og:image:height" content="1000"/>

    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon.png' %}" >
    <title>Badge System</title>
    <link rel="stylesheet" href="{% static 'badge/styles.css' %}" />
  </head>
  
  <body>

    <div class="content-wrapper">
      <div class="overlay"></div>
      <div class="content">
          <header class="navigation">
              <a href="#" class="logo">
                <img src="{% static 'images/favicon-32x32.png' %}" alt="">
              </a>
              <nav class="menu">
                <ul>
                  <li><a href="{% url 'badge:home' %}">Home</a></li>
                  <li><a href="{% url 'badge:announcements' %}">Announcements</a></li>
                  <div class="dropdown">
                    <button class="dropbtn">Badge<i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <div class="dropdown-content">
                      <a href="{% url 'badge:claim' %}">Claim</a>
                      <a href="{% url 'badge:verify' %}">Verify</a>
                      <a onclick="location.href = '/badge/search'" href="#">Search</a>
                    </div>
                  </div>
                  <li><a href="{% url 'badge:contact' %}">Contact</a></li>
                </ul>
              </nav>
              <i id="bar" class="fa fa-bars" aria-hidden="true"></i>
          </header>
          <section id="swup" class="main home-content container transition-blur">
            {% for css in csss %}
              <link rel="stylesheet" href="{{ css }}" />
            {% endfor %}
            {% block content %} 
            {% endblock %}
            {% for js in jss %}
            <script defer src="{{ js }}"></script>
            {% endfor %}
          </section>
          <footer class="footer">©Copyright All rights reserved - UPCSG 2021</footer>
      </div>
    </div>
  </body>
  <script src="{% static 'lib/jquery.min.js' %}"></script>
  <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
  <script defer src="{% static 'badge/common.js' %}"></script>
  <script defer src="https://use.fontawesome.com/0b39e945a8.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
</html>
